

div, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, p { padding: 0px; margin: 0px; }
ul, li, dl, dd { list-style: none; }

a { color:  #707070; font-size: 14px; }

 
.wrap {
    color:#767676;
    width: 375px;
    margin: 0 auto; 
    border:1px solid rgb(184, 184, 184);

    header {

        padding: 10px 0px;

        h2 { font-size: 18px; color:#1f1f1f; line-height: 1em; }

        .inner{
           display: flex;
           align-items: center;
           justify-content: space-between;

           div:nth-child(1){
                order:3; 
           }
           div:nth-child(2){
                order:0; 
            }
            div:nth-child(3){
                order:2;
                align-self: top; 
            }
        }
    }


    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 16px;
        box-shadow: 0px 2px 5px rgba(#333, 0.3);

        h2 {
            font-size: 16px;
            color:#1f1f1f;
        }
        
        // ul::after { content: ""; display: block; clear: both; }
        // ul li {
        //     float:left;
        // }
        
    }

    .box {
        padding: 16px;
        
        > div { position: relative; }
        .plus { position: absolute; top:0; right:0px; }
        .box_bottom { font-size: 13px; line-height: 19px; color:#d9d9d9; }

        input[type="checkbox"]{ 
            
            display: none;

                + label {
                    display: inline-block;
                    width: 20px; height: 20px;
                    border:1px solid #767676;
                    cursor: pointer; 

                    span {
                        position: absolute; 
                        top: 5pz; left:35px; 
                        display: block; 
                        font-size: 13px; 
                    }

                }
        }

    }

    .line { margin: 0 auto; border-bottom:1px solid #d9d9d9; width: 343px; height: 1px; }

    .textbox {
        margin-top: 11px;
        padding: 10px 12px;
        width: 323px;
        height: 100px;
        overflow: auto;
        font-size: 14px;
        background:#f8f8fa;

        dt, dd{
            line-height: 22px;
        }
    }

 
}