@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap";
/* color */
html, body {
  position: relative;
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
}

div, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, p, a {
  padding: 0px;
  margin: 0px;
}

ul, li, dl, dd {
  list-style: none;
}

img {
  width: 100%;
}

.blind {
  position: absolute;
  left: -99999999px;
  top: -999999999px;
}

a {
  text-decoration: none;
  color: #191919;
}

.wrap {
  width: 375px;
  margin: 0 auto;
  border: 1px solid rgb(184, 184, 184);
}

.flex {
  display: flex;
  justify-content: space-between;
}

.left {
  float: left;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

.relative {
  position: relative;
}

/* 블릿 */
.blt_ul li {
  position: relative;
  padding-left: 10px;
}

.blt-a::after {
  position: absolute;
  left: -5px;
  top: 0px;
  content: "ㆍ";
}

/* 블릿 - 숫자 */
.num {
  padding: 0px !important;
  margin: 0px !important;
  counter-reset: number;
}
.num li:before {
  position: absolute;
  top: 0px;
  left: -3px;
  content: counter(number);
}
.num li {
  position: relative;
  padding-left: 10px;
  counter-increment: number;
}

/* 취소선 */
.through {
  text-decoration: line-through;
}

/* 할인율 */
.discount {
  color: #ff4800;
  font-size: 18px;
  font-weight: 600;
}

/* 가격 */
.pice {
  padding-left: 10px;
  font-weight: 600;
  font-size: 18px;
  font-weight: 600;
}

/* 무료배송 및 마일리지 */
.mem_gray {
  color: #767676;
  font-size: 12px;
  line-height: 17px;
}

/*  */
.txt {
  font-size: 15px;
  line-height: 22px;
}
.txt .brand {
  color: #707070;
  font-size: 12px;
}

.phon {
  width: 100%;
  height: 30px;
  background: #ff4800;
}

header a {
  display: inline-block;
  width: 100%;
}

header h1 img {
  padding: 10px;
  width: 75px;
  height: 29px;
  box-sizing: content-box;
  vertical-align: top;
}

header .top {
  position: relative;
}

header .top .lnb {
  position: absolute;
  right: 0px;
  top: 0px;
}

header .top .lnb ul li {
  padding: 5px;
}

header .top .lnb ul li img {
  width: 28px;
  height: 29px;
}

header .top .lnb ul li:last-child {
  padding: 0px;
}

header .top .lnb ul li:last-child img {
  width: 60px;
  height: 50px;
}

header .gnb .line {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 1px;
  border-bottom: 2px solid #707070;
  z-index: -1;
}

header .gnb .flex li a {
  padding: 5px;
  display: inline-block;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  color: #191919;
  text-align: center;
  border-bottom: 2px solid #707070;
  transition: 0.5s;
  box-sizing: border-box;
}
header .gnb .flex li a:hover {
  color: #ff4800;
  border-bottom: 2px solid #ff4800;
}

.contents {
  padding: 16px;
}
.contents .flex {
  flex-wrap: wrap;
  justify-content: space-between;
}

.main_box {
  width: 48%;
  padding-bottom: 20px;
}
.main_box .through {
  color: #d9d9d9;
}
.main_box .star .flex {
  justify-content: flex-start;
}
.main_box .star .flex .num {
  position: relative;
  top: 2px;
  left: 0;
}

header .gnb .flex {
  justify-content: space-between !important;
}

header .gnb .line {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 1px;
  border-bottom: 2px solid #707070;
  z-index: -1;
}

.sub_table_page {
  padding: 20px;
  font-size: 13px;
  color: #767676;
}
.sub_table_page h3 {
  font-size: 16px;
  padding: 40px 0px 11px;
  color: #191919;
}

.table_style th {
  padding: 10px;
  width: 38%;
  background-color: #F8F8FA;
  font-weight: 500;
  border: 1px solid rgba(217, 217, 217, 0.8509803922);
}
.table_style td {
  padding: 10px;
  border: 1px solid rgba(217, 217, 217, 0.8509803922);
}
.table_style td ul li {
  padding-left: 8px;
}
.table_style td p {
  margin-bottom: 10px;
}
.table_style td p:last-child {
  margin-bottom: 0px;
}

.sub_table_page .num {
  padding: 0px !important;
  margin: 0px !important;
  counter-reset: list-number;
}
.sub_table_page .num li:before {
  position: absolute;
  top: 0px;
  left: -3px;
  content: counter(list-number);
}
.sub_table_page .num li {
  position: relative;
  padding-left: 10px;
  counter-increment: list-number;
}

.sub_table_page .nav-tabs .nav-link {
  border: 0px !important;
}

.sub_table_page .nav-tabs .nav-link.active {
  border: none !important;
  border-bottom: 2px solid #ff4800 !important;
}/*# sourceMappingURL=table.css.map */