@import url(partner_terms.css);

a { text-decoration: none; }

.bbox { width: 343px; margin: 0 auto;
    h3 { padding-bottom: 20px; font-size: 20px; color:#191919; }
}
.textBox { display: flex; justify-content: space-between; align-items: center; }
.textBox div { 
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1em;

    .ti {
        color:#191919;
        font-size: 15px; 
    }
    img { width: 56px; height: 56px; }

    .user {
        color:#191919;
        span { color:#ff4800; }
    }

    > p { padding: 4px 0px; color:#767676; }
 }

 .list-box1 .img  {
    position: relative;

 }
 .list-box1 .img .keyword{
    position: absolute;
    left:10px;
    bottom:15px;
    color:#fff;
    font-size: 13px;
 }
